@**
 * For copyright information see the LICENSE document.
 *@

@import helper._
@(name: String)(implicit flash: Flash)

@main("... delete a character ...") {
  @form(action = entice.server.routes.Global.apiCharPost("delete", name)) {
    <input type="submit" class="inputButton" name="" value="... confirm deletion of @name ..." />
  }
  @form(action = entice.server.routes.Global.webLobby()) {
    <input type="submit" class="inputButton" name="" value="... or: take me back to the lobby ...">
  }
}
