@**
 * For copyright information see the LICENSE document.
 *@

@import entice.server.controllers.AuthForm
@import helper._
@(authForm: Form[AuthForm])(implicit flash: Flash)

@main("... login to entice ...") {
  @form(action = entice.server.routes.Global.loginPost()) {
    <fieldset><legend>Login</legend>
      <p>
        <label for="email" class="inputLabel">Email:</label>
        <input type="text" class="inputField" id="email" name="email" value="" size="20" maxlength="50" />
      </p>
      <p>
        <label for="password" class="inputLabel">Password:</label>
        <input type="password" class="inputField" id="password" name="password" value="" size="20" maxlength="32" />
      </p>
    </fieldset>
    <input type="submit" class="inputButton" name="" value="... do it ..." />
  }
  @if(!authForm.errors.isEmpty) {
    <div>Errors: @for(error <- authForm.errors) {@error.message }</div>
  }
}
